@model WebPostgreSQL.Models.PistaCorrida

@{
    ViewData["Title"] = "Edit";
}

<h1>Edite as informações da pista</h1>

<h4>PistaCorrida</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group">
                <div class ="row"> 
                    <div class="col-md-3 text-left">
                        <input type="submit" value="Salvar" class="btn btn-outline-success"/>
                    </div>  
                    <div class="col-md-3 text-right">
                        <a asp-action="Index" class="btn btn-outline-danger">Cancelar</a>
                    </div>
                </div> 
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
