@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>Bem vindo</b></h1>
    <p><a href="https://github.com/jpsperandio/WebPostgreSQL" target="_blank">Link do projeto no GitHub</a>.</p>
</div>
